<h1>Contact</h1>
<div id="submit"></div>
<div>
  Name: <input type="text" id="name">
  Email: <input type="text" id="email">
  Message: <input type="text" id="message">
  <button type="button" class="btn btn-primary" id="submitbtn">Submit</button>
</div>

<script>
  const alertPlaceholder = document.getElementById('submit')
  const appendAlert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-success alert-dismissible" role="alert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')

    alertPlaceholder.append(wrapper)
  }

  const alertTrigger = document.getElementById('submitbtn')
  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      appendAlert('Thank you for your message, we will contact you soon.', 'success')
    })
  }
</script>